.head1
{
  background-color: black;
  height: 70px;
  width: 100%;
}
.head1 img{
  height: 60px;
  width: 100px;
  padding-top: 10px;
}
.logoimg
{
  float: left;
}
.logout
{
  float: right;
  color: white;
  font-size: 40px;
  padding-top: 5px;
  padding-right: 10px;
}
.home-left{
  height: 100vh;
  width: 20%;
  background-color:  #b3a8a8;
  float: left;
}
.home-right{
  height: 100vh;
  width: 80%;
  float: right;
  position: relative;
 
}
.home-right .navimg{
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: cover;
  z-index: -1;
  opacity: 0.1;
}
.lit
{
  border: 2px solid #ce1212;
  width: 100%;
  height: 3%;
  margin-top: 3%;
  background-color: black;
  font-family: century gothic;
  display: flex;
}
i{
  color: white;
  padding-left: 5px;
}
.dat
{
  color: white;
  text-decoration: none !important;
  font-size: 20px;
  padding-left: 10%;
  font-weight: bold;
}
.lit:hover{
  background-color: skyblue;
}
.card{ 
  width: 200px; 
} 
.card-header{ 
  text-align: center; 
  font-size: 20px; 
  font-weight: bold; 
  color: #4C5270; 
} 
.card-body{ 
  font-size: 18px; 
} 
.cardmain{ 
  display: flex; 
  justify-content: space-between; 
  margin-bottom: 20px; 
}
.theaddata{ 
  font-size: 20px; 
  color: #004369; 
}


@media only screen  and (max-width: 947px){
  .dat
  {
    color: white;
    text-decoration: none !important;
    font-size: 10px;
    padding-left: 10%;
    font-weight: bold;
  }
  .Title h3
  {
    font-size: 15px;
  }
  .lit i{
    color: white;
    padding-left: 3px;
    font-size: 15px !important;
  }
  Link{
    margin-left: 10px;
  }
}

@media only screen  and (max-width: 500px){
  .dat
  {
    color: white;
    text-decoration: none !important;
    font-size: 6px;
    padding-left: 8%;
    font-weight: bold;
  }
  .Title h3
  {
    font-size: 12px;
  }
  .lit i{
    color: white;
    padding-left: 2px;
    font-size: 10px !important;
  }
}
@media only screen and (max-width: 476px)
{
  .card-header
  { 
    text-align: center; 
    font-size: 12px; 
    font-weight: bold; 
    color: #4C5270; 
  }
  .card-body
  { 
    font-size: 10px; 
  } 
}
@media only screen and (max-width: 347px)
{
  .card-header
  { 
    text-align: center; 
    font-size: 10px; 
    font-weight: bold; 
    color: #4C5270; 
  }
  .card-body
  { 
    font-size: 8px; 
  } 
}

#box{
  background-color: #a0bfd4;
  height:120%;
  padding-top: 3%;
  padding-right: 3%;
  text-align: left;
}
@media only screen  and (min-width:300px) and (max-width: 448px){
  .pimg{
    width:80%;
  }
}

#r1{
  height: 25vh;
  width: 12vw;
  border:25px solid black;
  border-radius: 50%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}
#t1{
  border: 2px solid black;
  width: 50vw;
  height: 25vh;
}
@media only screen and (max-width:767px){
  #r1{
    height: 15vh;
    border:8px solid black;
    border-radius: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
    font-size: 25px;
  }
  }
  @media only screen and (max-width:679px){
    #r1{
      height: 12vh;
      font-size: 18px;
    }
    #r2 h4{
      font-size: 15px;
    }
  }
  @media only screen and (max-width:400px){
    #r1{
      height: 8vh;
      font-size: 15px;
      border:5px solid black;
    }
    #r1 p{
      margin-top: 10px;
    }
    #r2 h4{
      font-size: 12px;
    }
  }
.ss{
  display: flex;
  justify-content: space-between;
}

@media only screen  and (min-width:300px) and (max-width: 369px){
  #t2{
    font-size:10px;
  }
}

@media only screen  and (min-width:300px) and (max-width: 389px){
  #t3{
    font-size:10px;
  }
}
@media only screen  and (min-width:502px) and (max-width: 812px){
  #t4{
    font-size:10px;
  }
  #i1{
    width:80px;
  }
}
@media only screen  and (min-width:397px) and (max-width: 501px){
  #t4{
    font-size:8px;
  }
  #i1{
    width:60px;
  }
}
@media only screen  and (min-width:300px) and (max-width: 396px){
  #t4{
    font-size:6px;
  }
  #i1{
    width:45px;
  }
}

@media only screen  and (min-width:300px) and (max-width: 389px){
  #t6{
    font-size:10px;
  }
}
@media only screen  and (min-width:708px) and (max-width: 1005px){
  #t5{
    font-size:14px;
  }
  #i2{
    width:90px;
  }
}
@media only screen  and (min-width:588px) and (max-width: 707px){
  #t5{
    font-size:12px;
  }
  #i2{
    width:65px;
  }
}
@media only screen  and (min-width:496px) and (max-width: 587px){
  #t5{
    font-size:10px;
  }
  #i2{
    width:50px;
  }
}
@media only screen  and (min-width:404px) and (max-width: 495px){
  #t5{
    font-size:8px;
  }
  #i2{
    width:35px;
  }
}
@media only screen  and (min-width:367px) and (max-width: 403px){
  #t5{
    font-size:7px;
  }
  #i2{
    width:30px;
  }
}
@media only screen  and (min-width:300px) and (max-width: 366px){
  #t5{
    font-size:5px;
  }
  #i2{
    width:20px;
  }
}
.login{
  width:500px;
  justify-content: center;
  display: flex;
}
.login button{
  width: 300px;
  border-radius: 50px;
}
.log{
  background-color: #FFF;
  
}
.loginimg{
  background-image: url('./loginimg1.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

}
.card-body{
  border-radius: 10px;
  box-shadow: 0px 2px 15px 2px;
}

.card-header.chead{
  background-color: black;
  color:white;
  border-radius: 10px;
}
i:hover{
  cursor: pointer;
}
